--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.12.1+cu126
torchvision==0.27.1+cu126

matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
tensorboard>=2.4.1
seaborn>=0.11.0
pandas
mss
pygame-ce
pynput
pywin32
requests
wheel
termcolor
psutil
ultralytics
